body {
    font-family: 'Work Sans', sans-serif;
    background-color: #35353f;
    border-radius: 5px;
    font-weight: 300;
    color: white;
}

.SettingsButton button {
    text-align: center;
    transition-duration: 0.4s;
    border-color: black;
    border-radius: 15px;
    margin-right: 10px;
    border-width: 2px;
    font-weight: bold;
    line-height: 5px;
    margin-top: 20px;
    font-size: 15px;
    padding: 15px;
    width: 200px;
    height: 10px;
}

.SettingsButton button:hover {
    background-color:rgb(215, 236, 240);
    transform: scale(1.1);
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.LightMode {
    background-color:antiquewhite;
    color: black;
}

.LightMode footer, h1{
    color: white;
}

footer {
    background-color: rgb(25, 25, 34);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}