/*
========Global CSS========
*/
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #35353f;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
    color: white;
    display: flex;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/*
========Header CSS========
*/

header {
    background: linear-gradient(to left top, #3a5a8a, #7f0bad, #480CA8);
    text-align: center;
    display: inline;
    font-size: 30px;
    padding: 15px;
}

/* Keep white on "Prism OS" title when toggling light mode, black looks awful on the background */
header, h1 {
    color: white;
}

/* Light mode button */
#lightMode {
    float: right;
    border: 2px solid black;
    border-radius: 15px;
    height: 75px;
    width: 75px;
}

#lightMode:hover {
    background-color: #d7ecf0;
    cursor: pointer;
}

header p {
    margin-top: -0.5cm;
    font-weight: bold;
    font-size: 22px;
    color: cyan;
}

/*
========Body CSS========
*/
.OptionButtons button {
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1cm;
    margin-left: 30px;
    margin-top: 2.5cm;
    font-size: 20px;
    padding: 15px;
    width: 220px;
    height: 60px;
}

.OptionButtons button:hover {
    background-color: #d7ecf0;
    transition-duration: 0.4s;
    transform: scale(1.25);
    cursor: pointer;
}

main {
    text-align: center;
}

/*
========Footer CSS========
*/
footer {
    background-color: #191922;
    text-align: center;
    margin-top: auto;
    font-size: 16px;
}

footer hr {
    border-radius: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

footer div {
    margin: 15px 20px 0px 20px;
    display: inline-block;
}

footer img {
    margin: 0px 10px 0px 10px;
    background-color: #bbb;
    border-radius: 100%;
    padding: 10px;
    height: 30px;
    width: 27px;
}

footer a {
    color: cyan;
}

/*
========LightMode CSS========
*/
.LightMode {
    background-color:white;
    color: black;
}

.LightMode footer {
    background-color: antiquewhite;
}

/* Seperated td, th otherwise it won't work, idk why*/
.LightMode td {
    border: 1px solid black;
}

.LightMode th {
    border: 1px solid black;
}