body {
    font-family: 'Work Sans', sans-serif;
    background-color: #35353f;
    border-radius: 5px;
    font-weight: 300;
    color: white;
    margin: 0;

    /*For Footer To Work Properly*/
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

header {
    /*Old Background*/
    /*background: linear-gradient(to right, #77216f, #3f42e7 100%);*/
    
    /*New BG color?*/
    background: linear-gradient(to left top, #3a5a8a, #7f0bad, #480CA8);

    /*
        Other good option
        background: linear-gradient(to left top, #3a5a8a, #7f0bad, #480CA8);
    */
    
    /*border-radius: 10px;*/
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

details:hover {
    display: block;
}

.PageType {
    margin-top: -1cm;
    color: #d12ed6;
}

.OptionButtons button {
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1cm;
    margin-left: 30px;
    margin-top: 3cm;
    font-size: 20px;
    padding: 15px;
    width: 220px;
    height: 60px;
}

.OptionButtons button:hover {
    background-color: #d7ecf0;
    transition-duration: 0.4s;
    transform: scale(1.25);
    cursor: pointer;
}

.SettingsButton button {
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 5px;
    margin-top: 20px;
    font-size: 15px;
    padding: 15px;
    width: 200px;
    height: 10px;
}

.SettingsButton button:hover {
    background-color: #d7ecf0;
    transition-duration: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.LightMode {
    background-color:antiquewhite;
    color: black;
}

.LightMode footer, h1{
    color: white;
}

footer {
    background-color: #191922;
    text-align: center;
    margin-top: auto;
    font-size: 15px;
}

footer hr {
    margin-top: 0;
}

footer h4 {
    font-size: 20px;
}

footer img {
    background-color: #bbb;
    border-radius: 50%;
    margin-bottom: 0;
    padding: 10px;
    margin-top: 0;
    height: 1.2%;
    margin: 10px;
    width: 25px;
}

footer div {
    display: inline-block;
    margin: 5px 25px 5px 25px;
}

.InsideDiv {
    margin-right: 0px;
}

.FooterImageText {
    margin-top: 0px;
}

footer a {
    font-size: 15px;
    color: cyan;
    margin: 0%;
}

footer a p {
    margin-top: 0%;
    margin-bottom: 0%;
}

footer img:hover {
    transition: all .35s ease-in-out;
    opacity: 0.7;
}

.FooterHR {
    width: 70%;
    border-radius: 15px;
}

/*Footer*/
.FooterUser {
    font-size: 15px;
    color: white;
}