body {
    background-color: rgb(40, 40, 54);
    color: white;
}

.header {
    background: linear-gradient(to right, #880E4F, #C62828 100%);
    padding-bottom: 100px;
    border-radius: 12px;
}

.LightMode {
    background-color: white;
    color: black;
}

.SettingsButton button {
    text-align: center;
    transition-duration: 0.4s;
    border-color: black;
    border-radius: 15px;
    margin-right: 10px;
    border-width: 2px;
    font-weight: bold;
    line-height: 5px;
    margin-top: 20px;
    font-size: 15px;
    padding: 15px;
    width: 200px;
    height: 10px;
}

.SettingsButton button:hover {
    background-color:rgb(215, 236, 240);
    transform: scale(1.1);
    cursor: pointer;
}

.footer {
    background-color: rgb(25, 25, 34);
    text-align: center;
    position: fixed;
    color:white;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footerLink {
    color:lightblue;
}