.header {
    text-align: center;
    font-size: 30px;
    padding: 5px;

}

.Saying {
    margin-top: -1cm;
    font-size: 20px;
}

.OptionButtons button {
    transition-duration: 0.4s;
    border-color: black;
    border-radius: 15px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1cm;
    font-weight: bold;
    margin-left: 30px;
    border-width: 2px;
    margin-top: 3cm;
    font-size: 17px;
    padding: 15px;
    width: 220px;
    height: 60px;
}

.OptionButtons button:hover {
    background-color:rgb(215, 236, 240);
    transform: scale(1.25);
    cursor: pointer;
}

.ProjectInfo {
    font-size: 20px;
    margin-top: 1cm;
}

.CosmosInfoLink {
    color: white;
}