body {
    background-color: rgb(56, 60, 65);
    color: white
}

header {
    font-size: 50px;
    background-color: grey;
}

.ProjectInfo {
    font-size: 20px;
    margin-top: 2cm;
}

.Info2 {
    margin-bottom: 1cm;
    font-size: 20px;
}

.center {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.OptionButtons button {
    border: black;
    border-radius: 10px;
    border-width: 2px;
    width: 170px;
    height: 40px;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-top: 1cm;
    margin-left: 20px;
}

.OptionButtons button:hover {
    background-color: powderblue;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: powderblue;
}

.footerLink {
    color:orangered;
}
