.header {
    text-align: center;
    font-size: 30px;
}

.OptionButtons button {
    transition-duration: 0.4s;
    border-color: black;
    border-radius: 10px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 30px;
    border-width: 2px;
    margin-top: 20px;
    font-size: 17px;
    padding: 15px;
    width: 200px;
    height: 50px;
}

.OptionButtons button:hover {
    background-color:rgb(215, 236, 240);
    transform: scale(1.25);
    cursor: pointer;
}

h1 {
    text-align: center;
}

.BioInfo {
    font-size: 13px;
    text-align: center;
    width: 45%;
    color:black;
    background-color: #FAFAFA;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}