body {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ),
    url('../../Images/Wallpaper.bmp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    background: rgba(0, 0, 0, 0.582);
}

.developers {
    background: #682885;
    border-radius: 15px;
    text-align: center;
    margin: 25px auto;
    padding: 20px;
    width: 80%;
}

/*7a3b8a*/

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
    color: #2e3fd6;
}

li {
    font-size: 20px;
    text-align: left;
}

.dev {
    background-color: #936bb4;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
}

.dev p {
    text-indent: 40px;
    font-size: 20px;
    width: 80%;
}

.dev h3 {
    text-align: center;
    color: #72e465;
}

.dev img {
    border-radius: 15px;
    height: 100px;
    width: 100px;
}

.roles {
    border: 2px dashed lightgreen;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}