.OptionButtons {
    margin-top: -1cm;
}

h2 {
    text-decoration: underline;
    font-size: 25px;
}

p {
    font-size: 20px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

a {
    color: white;
}

thead {
    background-color: rgb(35, 64, 156);
    text-decoration: underline;
}

td {
    font-size: 20px;
}

.EOL {
    font-size: 22px;
    color: red;
}

.PreRelease {
    color: red;
}

.OSName {
    font-size: 35px;
}

.TableButton {
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    width: 150px;
    height: 50px;
}

.TableButton:hover {
    background-color:rgb(215, 236, 240);
    transition-duration: 0.4s;
    transform: scale(1.25);
    cursor: pointer;
}

.HeadTableButton {
    margin: 20px 0px 5px 0px;
    width: 200px;
}

/*Flex Management*/

.container {
    border: 5px solid green;
    border-radius: 15px;
    display: flex;
    margin: 20px;
}

.container p {
    text-indent: 40px;
}

.fixed {
    padding: 20px;
    margin: 25px;
    width: 100%;
}

.flex-item {
    margin: 25px;
    flex-grow: 1;
}